/** sldier css */
:root{
    --btn-color: #ff33cc;
    --slide-width: 200px;
    

}

html, body{margin:0; padding:0;}

/** slider div */
#slider-wrap{
    width: var(--slide-width); 
    position: relative;    
    overflow: hidden;  
    margin: 0 auto;
}
#slider-box{
    width:100%;
    display:table; 
    table-layout:fixed;    
}
.slider-item{
    width: var(--slide-width);  
    height: 150px; 
    display: table-cell; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;    
    z-index: 1;
}

/** slider button */
#slider-btn-wrap{
    margin: 0 auto;
    width: var(--slide-width); 
    height: 100px;
}
.slider-btn{
    width: 50px; 
    height: 50px; 
    background-color: var(--btn-color);
    display: inline-block;
    margin: 10px 0 0 30px;
    }


